<li class="join join-horizontal w-full grid grid-cols-[1fr_0fr] items-center border border-base-300 shadow">

  <button (click)="toggleSelected()"
    [ngClass]="{'bg-primary bg-opacity-70 hover:bg-opacity-50': isSelected, 'hover:bg-opacity-30': !isSelected}"
    class="join-item h-full p-3 grid grid-cols-[0.9fr_0.1fr] sm:grid-cols-[0.7fr_0.3fr] justify-between items-center gap-2 text-start hover:bg-primary">
    <p class="truncate flex-shrink">{{todo.task}}</p>

    <div class="flex flex-row justify-between items-center text-sm gap-2">
      <p class="font-light">Est.Time: <span class="font-medium">{{todo.est_hours}}h {{todo.est_minutes}}m</span></p>
      <p class="font-light">Value: <span class="font-medium">{{todo.task_value}}</span></p>
    </div>
  </button>

  <button (click)="deleteTodo()" class="join-item p-4 btn w-14 h-full">
    <ion-icon name="trash-outline" class="w-4 h-4"></ion-icon>
  </button>
</li>