<nav class="navbar px-4">
  <div class="navbar-start">
    <p class="font-medium text-xl">Nabu</p>
  </div>
  <div class="flex-none navbar-end">
    <div class="dropdown dropdown-end">
      <div tabindex="0" class="btn btn-ghost btn-square avatar">
        <ion-icon name="person-circle-outline" class="w-8 h-8" />
      </div>
      <ul tabindex="-1" class="menu dropdown-content mt-2 p-2 bg-base-100 rounded-md w-48 shadow z-50">
        <li>
          <button type="button" (click)='signOut()'>
            Sign Out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>