<app-navbar />

<div class="w-full flex flex-col justify-center items-center p-4 m-auto max-w-4xl">
  <div class="w-full">
    <div *ngIf="todoErrorText" class="rounded-md bg-red-100 p-4 my-2">
      <div class="text-sm leading-5 text-red-700">{{todoErrorText}}</div>
    </div>

    <ul class="w-full flex flex-col gap-3 mb-20">
      <app-todo *ngFor="let todo of todosList" [todo]="todo" />
    </ul>
  </div>
</div>

<button class="w-14 h-14 rounded-2xl btn btn-primary btn-square fixed right-4 bottom-4 shadow-lg"
  onclick="addTodoModal.showModal()"><ion-icon name="add-outline" class="w-6 h-6"></ion-icon></button>
<app-todo-modal></app-todo-modal>